// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

.fondoTotal {
    background: #F5F5F5 !important; // color de fondo general
}

.roundedInput {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.letraMinusculaNormal {
    text-transform: none !important;
    font-weight: normal !important;
}

.letraBlanca {
    color: #f4f4f4;
}

.letraColorTextos {
    color: #343A40;
}

.tableHeader {
    background: #171796;
    color: #f4f4f4;
}
 

.tableHeaderOddImpar {
    /*background: #707070;
    opacity: 0.3;
    filter: alpha(opacity=30);*/
    color: #343A40;
    background: #9CCCFF;
}

.tableHeaderEvenPar {
    /*background: #707070;
    opacity: 0.5;
    filter: alpha(opacity=50);*/
    color: #343A40;
    background: #5CA9FC;
}

.tableSizeIcons1 {
    font-size: 1.4em;
}


.labelFormularios {
    margin: 5px 8px 5px 0 !important;
}


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  grisfondo:  #171796, // fondo de la barra superior
  colorPrimaryButtom : #171796, // background de botones
  italColorIconoListo : #11ff00 // color del icono LISTO
  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
